.force-inline {
    display: inline-block;
}

.full-height {
    height: 100%;
}

body {
    background-color: #fff;
}


table {
    border-collapse: collapse;
    width: 66%;
    margin: 0 auto;
}

#rgb-color {
    color: red;
}

/*i {*/
    /*padding-left: 50%;*/
    /*position: absolute;*/
/*}*/

.stats {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 1px #000;
}

.stats p {
    display: inline;
}

.square-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.square-grid__cell {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 1px #000;
    overflow: hidden;
    position: relative;
}

.square-grid__content {
    left: 0;
    width: 100%;
    position: absolute;
    font-size: 8em;
    line-height: 100%;
    text-align: center;
    top: 0;
    height: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
    color: #f00;
}

.square-grid__cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-grid__cell--3 {
    flex-basis: 33.333%;
}
